<div class="btn-add card" ng-show="vm.EditMode">
    <a class="btn" ng-click="vm.showAdd()" href="javascript:void(0);">{{vm.localize.AddItem_Text}}</a>
</div>
<div>
    <ul ui-sortable="vm.sortableOptions" ng-model="vm.Items">
        <li class="card" ng-repeat="item in vm.Items">
            <h3>
                <span>#{{item.ItemId}} {{item.ItemName}}</span>
            </h3>
            <span>{{item.ItemDescription}}</span>
            <div class="btnlist">
                <a class="btn btn-edit" ng-click="vm.showEdit(item, $index)" ng-show="vm.EditMode" href="javascript:void(0);">{{vm.localize.EditItem_Text}}</a>
                <a class="btn btn-delete" ng-click="vm.deleteItem(item, $index)" ng-show="vm.EditMode" href="javascript:void(0);">{{vm.localize.DeleteItem_Text}}</a>
            </div>
        </li>
    </ul>
    <ul ng-repeat="cat in vm.Categories">
        <li>{{cat.FaqCategoryName}}</li>
    </ul>
</div>
